---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Vincenzo Manto - Academic Blog">
	<section>
		<h2>About</h2>
		<p>
			The mathematics section of this blog showcases the work in the field of integer sequences, with a particular focus on contributions to the On-Line Encyclopedia of Integer Sequences (OEIS). Here, you can explore the various sequences that have been authored or co-authored, along with their properties, formulas, and computational implementations. Each sequence is presented with detailed information, including its creation date, author(s), and any relevant comments or references. This section serves as a comprehensive resource for those interested in the fascinating world of integer sequences and their applications in mathematics.
		</p>
	</section>

	<section style="margin-top: 3rem;">
		<h2>Explore Sections</h2>
		<div class="card" style="margin-top: 1rem;">
			   <h3><a href={import.meta.env.BASE_URL + 'math/oeis'}>Mathematics (OEIS)</a></h3>
			<p>Explore integer sequences authored or co-authored in the On-Line Encyclopedia of Integer Sequences.</p>
		</div>

		
	</section>
</Layout>
